/* Cercle autour du timer */
#timer {
    width: 300px;
    height: 300px;
    border: 10px solid #dae987; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin: 20px auto;
    background-color: #ff0000; /* Couleur de fond */
}

h1{
    color:white;
    text-align: center;
}

body{
    background-color:#ff0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tonGrosBouton{
    margin-top: 20px;
    cursor: pointer;
}
